/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* navbar part started  */
  .Navbar ul li{
    padding: 5px 0;
  }
  .Navbar ul li a{
    text-align: center;
  }
  .navbar-toggler-icon i {
    color: white !important;
  }
  /* navbar part end   */

  /* modest part started  */
  .modestText {
    margin-top: 70px;
}
.modestRight {
  margin-top: 75px;
}
  /* modest part end */

  /* team part started  */
  .teamMain{
    padding-top: 30px;
  }
  /* team part end */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* team part started */
  .teamMain{
    margin: auto;
  }
  /* team part end */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
